*.unity filter=lfs diff=lfs merge=lfs -text
*py filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
LimbDitect/Data/resnet-34_kinetics.onnx filter=lfs diff=lfs merge=lfs -text
